body {
    font-family: Arial, sans-serif;
    margin: 20px;
    line-height: 1.6;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 24px;
    color: #333;
}

#informacion-general {
    text-align: left;
    margin-top: 10px;
}

p {
    margin: 5px 0;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}

textarea, input {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    display: inline-block;
    margin: 10px 5px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

@media print {
    button, #informacion-general [contenteditable], textarea, input {
        display: none;
    }

    #informacion-general span {
        border: none;
        display: inline;
    }
}
